In [1]:
!pip install -U xgboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.8/dist-packages (0.90)
Collecting xgboost
  Downloading xgboost-1.7.3-py3-none-manylinux2014_x86_64.whl (193.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 193.6/193.6 MB 5.3 MB/s eta 0:00:00
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from xgboost) (1.21.6)
Installing collected packages: xgboost
  Attempting uninstall: xgboost
    Found existing installation: xgboost 0.90
    Uninstalling xgboost-0.90:
      Successfully uninstalled xgboost-0.90
Successfully installed xgboost-1.7.3

In [2]:
import pandas as pd

## Setting up Kaggle API Key

In [3]:
# create the .kaggle directory and an empty kaggle.json file
!mkdir -p ~/.kaggle
!touch ~/.kaggle/kaggle.json
!chmod 600 ~/.kaggle/kaggle.json

In [4]:
# Fill in your user name and key from creating the kaggle account and API token file
import json
kaggle_username = "thaismartinsdev"
kaggle_key = "62f6211823f7f19257d4e9fae4f4ed65"

# Save API token the kaggle.json file
with open("/root/.kaggle/kaggle.json", "w") as f:
    f.write(json.dumps({"username": kaggle_username, "key": kaggle_key}))

In [5]:
# Download the dataset, it will be in a .zip file so you'll need to unzip it as well.
!kaggle competitions download -c titanic
# If you already downloaded it you can use the -o command to overwrite the file
!unzip -o titanic.zip

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 25.5MB/s]
Archive:  titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv

In [6]:
# check out the data
train_df = pd.read_csv("train.csv")
# test_df = pd.read_csv("test.csv")

# show first rows
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Check the following link to get an understading the data.
https://www.kaggle.com/competitions/titanic/data

# Tasks (Good Luck)

1. Perform EDA on the data. (Last session's code)
2. Data Splitting.
3. Training, Evaluation and Tuning
4. Submission.

# Exploratory Data Analysis

# Data Splitting

- Create train, validation and test sets.
- Hint: Use train_test_split from Scikit Learn.

# Training, Evaluation and Tuning

- Train and XGBClassifier model.
- Evaluate the model's performance on validation set.
- Tune the model (you can use GridSearchCV), does it improve?

# Submission

In [ ]:
# predictions
preds = bst.predict(?)

In [ ]:
submission = pd.read_csv("gender_submission.csv")
submission["Survived"] = # predictions
submission.to_csv("connect_session3_submission.csv", index=False)

In [ ]:
!kaggle competitions submit -c titanic -f connect_session3_submission.csv -m "connect session #3 submission"

In [ ]:
!kaggle competitions submissions -c titanic | tail -n +1 | head -n 6